/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /*src/component/ */
  .headNav {
    color: aliceblue;
    background-color: #07a995;
    height: 50px;
    padding-top: 40px;
  }
  .response {
    height: 40px;
    width: 700px;
    margin-top: 150px;
    margin-left: 100px;
  }

  .card1 {
    margin-top: 100px;
    width: 380px;
    height: 700px;
    margin-left: 17px;
  }

  .logo2 {
    width: 40px;
    height: 40px;
    margin-left: 50%;
    margin-top: -35px;
  }
  .img2 {
    width: 180px;
    height: 450px;
    margin-left: 35%;
    margin-top: 20%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .headNav {
    color: aliceblue;
    background-color: #07a995;
    height: 50px;
    padding-top: 40px;
  }
  .response {
    height: 40px;
    width: 700px;
    margin-top: 150px;
    margin-left: 100px;
  }

  .card1 {
    margin-top: 100px;
    width: 380px;
    height: 700px;
    margin-left: 17px;
  }

  .logo2 {
    width: 40px;
    height: 40px;
    margin-left: 50%;
    margin-top: -35px;
  }
  .img2 {
    width: 180px;
    height: 450px;
    margin-left: 35%;
    margin-top: 20%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}
